.sign-container {
  height: 774px;
  background #f7f7f7;
  .sign-left {
    position: absolute;
    width: 650px;
    height: 535px;
    border-radius: 5px;
    background: #fff;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    .sign-left-wrap {
      padding 50px 0 50px 100px;
      .sign-left-floor {
        margin-bottom 20px;
        label {
          display inline-block;
          width 70px;
          text-align right;
        }
        .sign-showPSW {
          font-size 12px;
        }
        .sign-input {
          width 200px;
          height 30px;
          border 1px solid #bbb;
          outline none;
          border-radius 3px;
          margin-left 3px;
          padding-left 5px;
          transition-property: border box-shadow;
          transition-duration: 0.3s;
          transition-timing-function: ease;
          &:hover {
            border 1px solid #888;
          }
          &:focus {
            border 1px solid #999;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0750), 0 0 8px rgba(0, 0, 0, 0.3);
          }
        }
        .authCode-input {
          width 100px!important;
        }
        .sign-getAuthCode {
          width 100px;
          height 30px;
          border 1px solid #aaa;
          outline none;
          background #fff;
          color #aaa;
          border-radius 3px;
          margin-left 10px;
          transition-property: border color;
          transition-duration: 0.3s;
          transition-timing-function: ease;
          &:hover {
            border 1px solid #666;
            color: #666;
          }
        }
        span {
          font-size 13px;
        }
        .sign-warn {
          display inline-block;
          margin-left 5px;
          color #f00;
          vertical-align middle;
        }
      }
      .sign-tips {
        margin -10px 0 15px 70px
        font-size 12px;
        color #888;
      }
      h2 {
        padding-bottom 20px;
        padding-left 95px;
      }
      .sign-btn {
        width 80px;
        height 30px;
        line-height 30px;
        margin-right 10px;
        margin-left 75px;
        background #111;
        border 1px solid #111;
        color: #fff;
        border-radius 3px;
        outline none;
        transition-property: background color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        &:hover {
          background #fdfdfd;
          color #000;
        }
      }
      .login-btn {
        font-size 12px;
        color #666;
        cursor: pointer;
        text-decoration none;
        &:hover {
          color #000;
        }
      }
    }
  }
  .sign-right {
    flex 1;
    padding-top: 62px;
    table {
      table-layout: fixed;
      width 100%
      background #000000;
      tr {
        height 178px;
        td {
          width 25%;
          background no-repeat 50% 50% ;
          background-size cover;
          transition-property: opacity;
          transition-duration: 1s;
          transition-timing-function: ease;
          &:hover {
            opacity 1 !important;
          }
        }
      }
    }
  }
}
