.tableImg-container {
  table {
    table-layout: fixed;
    width 100%
    background #000000;
    tr {
      height 228px;
      td {
        width 25%;
        background no-repeat 50% 50% ;
        background-size cover;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
        &:hover {
          opacity 1 !important;
        }
      }
    }
  }
}
