@font-face {
  font-family: 'pen-icon';
  src:  url('./../fonts/pen-icon.eot?3o4oot');
  src:  url('./../fonts/pen-icon.eot?3o4oot#iefix') format('embedded-opentype'),
    url('./../fonts/pen-icon.ttf?3o4oot') format('truetype'),
    url('./../fonts/pen-icon.woff?3o4oot') format('woff'),
    url('./../fonts/pen-icon.svg?3o4oot#pen-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pen-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e911";
}
.icon-navigation-more:before {
  content: "\e912";
}
.icon-grid:before {
  content: "\e913";
}
.icon-help-with-circle:before {
  content: "\e915";
}
.icon-menu:before {
  content: "\e914";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}
.icon-ello:before {
  content: "\eab6";
}
.icon-home:before {
  content: "\e90d";
}
.icon-paint-format:before {
  content: "\e90e";
}
.icon-image:before {
  content: "\e90f";
}
.icon-images:before {
  content: "\e910";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-location2:before {
  content: "\e948";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-camera:before {
  content: "\e903";
}
.icon-message:before {
  content: "\e90a";
}
.icon-personalCenter:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-arrow_lift:before {
  content: "\e900";
}
.icon-thumb_up:before {
  content: "\e901";
}
.icon-thumb_down:before {
  content: "\e902";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-check_circle:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-remove_circle_outline:before {
  content: "\e907";
}
.icon-add_circle:before {
  content: "\e908";
}
.icon-keyboard_arrow_right:before {
  content: "\e909";
}
